h1 {
    color: red;
    font-size: 25px;
    text-align: center;
}

h4 {
    font-size: 20px;
    text-align: center;
}

label {
    font-size: 18px;
}

body {
    background-image: url(images/117900.jpg);
}

.hover-race {
    text-align: center;
    margin: 1em;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
    margin-right: 2em;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

#dnd-characters {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  
}

#wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 20px auto;
    max-width: 1000px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

@font-face {
    font-family: 'dndcregular';
    src: url('dndc-webfont.woff2') format('woff2'),
         url('dndc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}